In [1]:
d={'e':11, 'c':12}
for i in d.items():
    print(type(i))

<class 'tuple'>
<class 'tuple'>

In [6]:
a="aryan#nnwvbnwijnwok#aryan"
x=a.split("#")
print(x)

['aryan', 'nnwvbnwijnwok', 'aryan']

In [21]:
def listToString(s):
    str=' '
    return (str.join(s))
    

s=['aryan','is','awsome']
listToString(s)

'aryan is awsome'

In [10]:
def listToString(s):
 
    # initialize an empty string
    str1 = ""
 
    # traverse in the string
    for ele in s:
        str1 += ele
 
    # return string
    return str1
 
 
# Driver code
s = ['Geeks', 'for', 'Geeks']
print(listToString(s))

GeeksforGeeks

In [83]:
a=[1,2,3,4,5,6,7,8,9,10]
e=0
o=0
for i in a:
    if i%2==0:
        e=e+1
        print("even")
    else:
        o=o+1
        print("odd")
print(e)
print(o)

odd
even
odd
even
odd
even
odd
even
odd
even
5
5

In [88]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [91]:
even=0
odd=0
for i in range(1,51):
    if i%2==0:
        even=even+i**2
    else:
        odd=odd+i**3
print(even)
print(odd)

22100
780625

In [96]:
a= int(input("Enter a number:"))
for i in range(1,11):
    print(f"{a} X {i} =",a*i)

Enter a number:100
100 X 1 = 100
100 X 2 = 200
100 X 3 = 300
100 X 4 = 400
100 X 5 = 500
100 X 6 = 600
100 X 7 = 700
100 X 8 = 800
100 X 9 = 900
100 X 10 = 1000

In [105]:
# factorial

f = 1
fact= int(input("Enter a number :"))
for i in range(1,fact+1):
    f=f*i
print(f)

Enter a number :10
3628800

In [108]:
import math
fact= int(input("Enter a number :"))
math.factorial(fact)

Enter a number :10

3628800

In [117]:
n= int(input("Enter a number"))
sum=0
for i in range(1,n+1):
    number= int(input("enter numbers"))
    sum= sum +number
print(sum)
print("Average of numbers is",sum/n)

Enter a number5
enter numbers1
enter numbers2
enter numbers3
enter numbers4
enter numbers5
15
Average of numbers is 3.0

In [119]:
f=1
a= int(input("Enter an number"))
for i in range(1,a+1):
    f=f*i
print(f)

Enter an number10
3628800

In [124]:
#  prime number
c=0
a = int(input("Enter a number"))
for i in range(1,a+1):
    if a%i == 0:
        c=c+1
if c==2:
    print(c)
    print("Prime")
else:
    print(c)
    print("not prime")

Enter a number100
9
not prime

In [125]:
100/4

25.0

In [127]:
c=0
a= int(input("Ente r number"))
for i in range(1,a+1):
    if a%i==0:
        c=c+1
if c==2:
    print("p")
    print(c)
else:
    print("n")
    print(c)

Ente r number4
n
3

In [129]:
# aryra is pailindrome or nor
a= ["aryra"]
for i in a:
    if i==i[::-1]:
        print("p")
    else:
        print("np")

p

In [134]:
# fibonacci series
a=0
b=1
n= int(input('Enter a number'))
for i in range(1,n+1):
    print(a)
    c=a
    a=b
    b=a+c

Enter a number10
0
1
1
2
3
5
8
13
21
34

In [131]:
# fibonacci series
a=0
b=1
n= int(input('Enter a number'))
for i in range(1,n+1):
    print(a)
    c=a
    a=b
    b=c+a

Enter a number10
0
1
1
2
3
5
8
13
21
34

In [138]:
for i in range(11,0,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2
1

In [140]:
c=1
while c<=10:
    print(c)
    c=c+1

1
2
3
4
5
6
7
8
9
10

In [141]:
# factorial uisng for loop

f=1
n= int(input("enter a number"))
for i in range(1,n+1):
    f=f*i
print(f)

enter a number4
24

In [146]:
# factorial using while loop

f=1
n= int(input("enter a number"))
while n!=0:
    f=f*n
    n=n-1
print(f)

enter a number4
24

In [154]:
aa= input("Enter alphbet")
while aa!='q':
    if aa=='p':
        print("Hello")
    aa=input("Enter again")
print("good by")

Enter alphbetp
Hello
Enter againq
good by

In [156]:
# fiabonacci series using for loop
a=0
b=1
n= int(input("Enter a number"))
for i in range(1,n+1):
    print(a)
    c=a
    a=b
    b=a+c

Enter a number10
0
1
1
2
3
5
8
13
21
34

In [158]:
# fiabonacci series using while loop
a=0
b=1
n= int(input("Enter a number"))
while n!=0:
    print(a)
    c=a
    a=b
    b=a+c
    n=n-1

Enter a number10
0
1
1
2
3
5
8
13
21
34

In [164]:
# no is armstrong or not
n= int(input("Enter the number wghicvh you want to check that it is armstrong or not"))
c=0
a=n
x=a
while n!=0:
    c=c+1
    n=n//10
print(c)
s=0
while a!=0:
    digit=a%10
    s=s+digit**c
    a=a//10

if x==s:
    print(s,'armstrong')
else:
    print("Not")

Enter the number wghicvh you want to check that it is armstrong or not153
3
153 armstrong

In [165]:
8//2

4

In [166]:
n= int(input('enter  a number'))
a=n
while n%2==0:
    n=n//2
    print(n)
if n==1:
    print(a,"is a power of 2")
else:
    print(a,"is not power of 2")

enter  a number8
4
2
1
8 is a power of 2

In [167]:
4//2

2

In [169]:
l = [1,2,3,4,5,6]
a=0
b=0
for i in l:
    a=a+i
    b=b+1
    if b==3:
        break
print(a)

6

In [175]:
a=0
b=0
while b<6:
    a=a+b
    b=b+1
    if b==3:
        break
print(b)
print(a)

3
3

In [179]:
for i in range(1,11):
    if i==5:
         continue
    print(i)

1
2
3
4
6
7
8
9
10

In [185]:
l = ['parrat','perl','java','python']
for i in l:
    for j in i:
        if j=='p':
            print(i)
        else:
            pass

parrat
perl
python

In [197]:
# table by for loopprint
n= int(input("Enter a number"))
for i in range(1,11):
    print(f"{n} X {i} =",n*i)

Enter a number500
500 X 1 = 500
500 X 2 = 1000
500 X 3 = 1500
500 X 4 = 2000
500 X 5 = 2500
500 X 6 = 3000
500 X 7 = 3500
500 X 8 = 4000
500 X 9 = 4500
500 X 10 = 5000

In [223]:
n= int(input("Enter a number"))
x=1
while x!=11:
        print(n,'X',x,"=",n*x)
        x=x+1

Enter a number500
500 X 1 = 500
500 X 2 = 1000
500 X 3 = 1500
500 X 4 = 2000
500 X 5 = 2500
500 X 6 = 3000
500 X 7 = 3500
500 X 8 = 4000
500 X 9 = 4500
500 X 10 = 5000

In [203]:
# reverse number
n= int(input("Enter a number"))
rev=0
while n!=0:
    digit=n%10
    rev= rev*10+digit
    n=n//10
print(rev)

Enter a number12345
54321

In [205]:
d=12345%10
rev= rev*10+d
print(rev)

543215

In [206]:
12345//10

1234

In [207]:
 #reverse a number
n= int(input("enter a number"))
rev=0
while n!=0:
    digit = n%10
    rev= rev*10+digit
    n=n//10
print(rev)

enter a number1234
4321

In [208]:
rev=0
n= int(input("enter a number"))
while n!=0:
    digit= n%10
    rev= rev*10+digit
    n=n//10
print(rev)

enter a number123456
654321

In [214]:
# pailndrome 
a= ["aryra"]
for i in a:
    if i==i[::-1]:
        print("p")
    else:
        print("np")

p

In [220]:
# pailndrome
rev=0
n= int(input("Enter a number"))
a=n
while n!=0:
    digit= n%10
    rev= rev*10+digit
    n=n//10
print(rev)
if rev==a:
    print("Pallindrome")
else:
    print("Not Pallindrome")

Enter a number121
121
Pallindrome

In [224]:
# Q-1 Write a program to print the following using while loop
# a. First 10 Even numbers
# b. First 10 Odd numbers
# c. First 10 Natural numbers
# d. First 10 Whole numbers

In [231]:
n=int(input("Enter a number"))
while n<=20:
    if n%2==0:
        print(n)
        n=n+2
    else:
        pass

Enter a number2
2
4
6
8
10
12
14
16
18
20

In [232]:
n=int(input("Enter a number"))
while n<=20:
    if n%2!=0:
        print(n)
        n=n+2
    else:
        print(n)
        n=n+2

Enter a number1
1
3
5
7
9
11
13
15
17
19

In [233]:
n=int(input("Enter a number"))
while n<=10:
    print(n)
    n=n+1

Enter a number1
1
2
3
4
5
6
7
8
9
10

In [234]:
n=int(input("Enter a number"))
while n<10:
    print(n)
    n=n+1

Enter a number0
0
1
2
3
4
5
6
7
8
9

In [235]:
# Write a program to print first 10 integers and their squares using for loop.
for i in range(1,11):
    print(i,"&",i**2)

1 & 1
2 & 4
3 & 9
4 & 16
5 & 25
6 & 36
7 & 49
8 & 64
9 & 81
10 & 100

In [236]:
# Write for loop statement to print the following series:
# 10
# 20
# 30
# .
# .
# .
# 300

In [238]:
for i in range(10,310,10):
    print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [241]:
# Q-4 Write a while loop statement to print the following series
# 105 98 91 . . . . 7

for i in range(105,6,-7):
    print(i)

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [246]:
a=105
while a!=0:
    print(a)
    a=a-7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [242]:
# Q-5 Write a program to enter the numbers till the user wants and at the end it should display the sum of all the numbers entered.

In [244]:
n=int(input("Enter a number"))
b=0
while n!=0:
    a=int(input("Enter a number"))
    b=b+a
    n=n-1
print(b)

Enter a number5
Enter a number1
Enter a number2
Enter a number3
Enter a number4
Enter a number5
15

In [245]:
n=int(input("Enter a number"))
b=0
for i in range(1,n+1):
    a=int(input("Enter a number"))
    b=b+a
    n=n-1
print(b)

Enter a number5
Enter a number1
Enter a number2
Enter a number3
Enter a number4
Enter a number5
15

In [247]:
# Q-6 Write a program to enter the numbers till the user enter ZERO and at the end it should display the count and sum of positive , negative numbers entered

In [249]:
n=int(input("Enter a number"))
b=0
c=0
for i in range(1,n+1):
    a=int(input("Enter a number"))
    if a%2==0:
        b=b+a
    else:
        c=c+a
    n=n-1
print(b)
print(c)

Enter a number5
Enter a number1
Enter a number2
Enter a number3
Enter a number4
Enter a number5
6
9

In [252]:
n=int(input("Enter a number"))
b=0
c=0
while n!=0:
    a=int(input("Enter a number"))
    if a%2==0:
        b=b+a
    else:
        c=c+a
    n=n-1
print(b)
print(c)

Enter a number6
Enter a number1
Enter a number2
Enter a number3
Enter a number4
Enter a number5
Enter a number6
12
9

In [253]:
# Q-7 Write a program to display all the numbers which are divisible by 13 but not by 3 between 100 and 500.(exclusive both numbers)

In [256]:
for i in range(100,501):
    if i%13==0  and i%3!=0:
        print(i)
    else:
        pass

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [259]:
a=100
b=500
while a!=b:
    if a%13==0:
        if a%3!=0:
            print(a)
    a=a+1

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [260]:
# Q-8 Write a program to accept 10 numbers from the user and display the largest & smallest number number.

In [267]:
print("Enter 10 No.:")
n=10
b=0
l=0
while n!=0:
    a=int(input("Enter your no.="))
    if b==0:
        s=a
        b+=1
    if a>l:
        l=a
    if a<s:
        s=a
    n=n-1
print("Smallest No. is ",s)
print("Biggest No. is ",l)

Enter 10 No.:
Enter your no.=1
Enter your no.=2
Enter your no.=3
Enter your no.=4
Enter your no.=5
Enter your no.=6
Enter your no.=7
Enter your no.=8
Enter your no.=9
Enter your no.=10
Smallest No. is  1
Biggest No. is  10

In [268]:
# Q-9 Write a program to print the following series till n terms.
# 1
# 4
# 9
# 16
# 25
# n terms.

In [273]:
a=int(input("Enter your no.="))
for i in range(1,a+1):
    print(i**2)

Enter your no.=20
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [274]:
a=int(input("Enter your no.="))
n=1
while a!=0:
    print(n**2)
    n=n+1
    a=a-1

Enter your no.=10
1
4
9
16
25
36
49
64
81
100

In [276]:
a=1
n= int(input("Enter a number"))
while n!=0:
    print(a**2)
    a+=1
    n=n-1

Enter a number10
1
4
9
16
25
36
49
64
81
100

In [277]:
# Write a program to display the number names of the digits of a number entered by user,
# for example if the number is 231
# then output should be
# Two
# Three
# One

In [286]:
1//10

0

In [289]:
b=0
n=int(input("Enter any no.="))
while n!=0:
    a=n%10
    b=b*10+a
    n=n//10
# print(b)123 -321

while b!=0:
    d=b%10 #321 -- 1
    b=b//10  #321 -32
    if d==1:
        print("one")
    elif d==2:
        print("Two")
    elif d==3:
        print("Three")
    elif d==4:
        print("four")
    elif d==5:
        print("five")
    elif d==6:
        print("six")
    elif d==7:
        print("Seven")
    elif d==8:
        print("Eight")
    elif d==9:
        print("Nine")
    else:
        print("Zero")

Enter any no.=12345
one
Two
Three
four
five

In [290]:
n=input("Enter Any No.=")
for i in n:
    if i=='0':
        print("Zero")
    elif i=='1':
        print("One")
    elif i=='2':
        print("Two")
    elif i=='3':
        print("Three")
    elif i=='4':
        print("Four")
    elif i=='5':
        print("Five")
    elif i=='6':
        print("Six")
    elif i=='7':
        print("Seven")
    elif i=='8':
        print("Eight")
    else:
        print("Nine")

Enter Any No.=12345
One
Two
Three
Four
Five

In [291]:
# Q-11 Q11. Write a python program to get the following output
# 1—–49

# 2—–48

# 3—–47

# . .

# . .

# . .

# 48—–2

# 49—–1

In [292]:
a=1
b=49
while b!=0:
    print(a,"----",b)
    a=a+1
    b=b-1

1 ---- 49
2 ---- 48
3 ---- 47
4 ---- 46
5 ---- 45
6 ---- 44
7 ---- 43
8 ---- 42
9 ---- 41
10 ---- 40
11 ---- 39
12 ---- 38
13 ---- 37
14 ---- 36
15 ---- 35
16 ---- 34
17 ---- 33
18 ---- 32
19 ---- 31
20 ---- 30
21 ---- 29
22 ---- 28
23 ---- 27
24 ---- 26
25 ---- 25
26 ---- 24
27 ---- 23
28 ---- 22
29 ---- 21
30 ---- 20
31 ---- 19
32 ---- 18
33 ---- 17
34 ---- 16
35 ---- 15
36 ---- 14
37 ---- 13
38 ---- 12
39 ---- 11
40 ---- 10
41 ---- 9
42 ---- 8
43 ---- 7
44 ---- 6
45 ---- 5
46 ---- 4
47 ---- 3
48 ---- 2
49 ---- 1

In [294]:
b=49
for i in range(1,50):
    print(i,"----",b)
    b=b-1

1 ---- 49
2 ---- 48
3 ---- 47
4 ---- 46
5 ---- 45
6 ---- 44
7 ---- 43
8 ---- 42
9 ---- 41
10 ---- 40
11 ---- 39
12 ---- 38
13 ---- 37
14 ---- 36
15 ---- 35
16 ---- 34
17 ---- 33
18 ---- 32
19 ---- 31
20 ---- 30
21 ---- 29
22 ---- 28
23 ---- 27
24 ---- 26
25 ---- 25
26 ---- 24
27 ---- 23
28 ---- 22
29 ---- 21
30 ---- 20
31 ---- 19
32 ---- 18
33 ---- 17
34 ---- 16
35 ---- 15
36 ---- 14
37 ---- 13
38 ---- 12
39 ---- 11
40 ---- 10
41 ---- 9
42 ---- 8
43 ---- 7
44 ---- 6
45 ---- 5
46 ---- 4
47 ---- 3
48 ---- 2
49 ---- 1

In [296]:
b=99
for i in range(1,b):
    print(i,'-----',b)
    b=b-1

1 ----- 99
2 ----- 98
3 ----- 97
4 ----- 96
5 ----- 95
6 ----- 94
7 ----- 93
8 ----- 92
9 ----- 91
10 ----- 90
11 ----- 89
12 ----- 88
13 ----- 87
14 ----- 86
15 ----- 85
16 ----- 84
17 ----- 83
18 ----- 82
19 ----- 81
20 ----- 80
21 ----- 79
22 ----- 78
23 ----- 77
24 ----- 76
25 ----- 75
26 ----- 74
27 ----- 73
28 ----- 72
29 ----- 71
30 ----- 70
31 ----- 69
32 ----- 68
33 ----- 67
34 ----- 66
35 ----- 65
36 ----- 64
37 ----- 63
38 ----- 62
39 ----- 61
40 ----- 60
41 ----- 59
42 ----- 58
43 ----- 57
44 ----- 56
45 ----- 55
46 ----- 54
47 ----- 53
48 ----- 52
49 ----- 51
50 ----- 50
51 ----- 49
52 ----- 48
53 ----- 47
54 ----- 46
55 ----- 45
56 ----- 44
57 ----- 43
58 ----- 42
59 ----- 41
60 ----- 40
61 ----- 39
62 ----- 38
63 ----- 37
64 ----- 36
65 ----- 35
66 ----- 34
67 ----- 33
68 ----- 32
69 ----- 31
70 ----- 30
71 ----- 29
72 ----- 28
73 ----- 27
74 ----- 26
75 ----- 25
76 ----- 24
77 ----- 23
78 ----- 22
79 ----- 21
80 ----- 20
81 ----- 19
82 ----- 18
83 ----- 17
84 ----- 16
85 ----- 15
86 ----- 14
87 ----- 13
88 ----- 12
89 ----- 11
90 ----- 10
91 ----- 9
92 ----- 8
93 ----- 7
94 ----- 6
95 ----- 5
96 ----- 4
97 ----- 3
98 ----- 2

In [1]:
a=1
b=99
while b!=0:
    print(a,'----',b)
    a=a+1
    b=b-1

1 ---- 99
2 ---- 98
3 ---- 97
4 ---- 96
5 ---- 95
6 ---- 94
7 ---- 93
8 ---- 92
9 ---- 91
10 ---- 90
11 ---- 89
12 ---- 88
13 ---- 87
14 ---- 86
15 ---- 85
16 ---- 84
17 ---- 83
18 ---- 82
19 ---- 81
20 ---- 80
21 ---- 79
22 ---- 78
23 ---- 77
24 ---- 76
25 ---- 75
26 ---- 74
27 ---- 73
28 ---- 72
29 ---- 71
30 ---- 70
31 ---- 69
32 ---- 68
33 ---- 67
34 ---- 66
35 ---- 65
36 ---- 64
37 ---- 63
38 ---- 62
39 ---- 61
40 ---- 60
41 ---- 59
42 ---- 58
43 ---- 57
44 ---- 56
45 ---- 55
46 ---- 54
47 ---- 53
48 ---- 52
49 ---- 51
50 ---- 50
51 ---- 49
52 ---- 48
53 ---- 47
54 ---- 46
55 ---- 45
56 ---- 44
57 ---- 43
58 ---- 42
59 ---- 41
60 ---- 40
61 ---- 39
62 ---- 38
63 ---- 37
64 ---- 36
65 ---- 35
66 ---- 34
67 ---- 33
68 ---- 32
69 ---- 31
70 ---- 30
71 ---- 29
72 ---- 28
73 ---- 27
74 ---- 26
75 ---- 25
76 ---- 24
77 ---- 23
78 ---- 22
79 ---- 21
80 ---- 20
81 ---- 19
82 ---- 18
83 ---- 17
84 ---- 16
85 ---- 15
86 ---- 14
87 ---- 13
88 ---- 12
89 ---- 11
90 ---- 10
91 ---- 9
92 ---- 8
93 ---- 7
94 ---- 6
95 ---- 5
96 ---- 4
97 ---- 3
98 ---- 2
99 ---- 1

In [2]:
def add(a,b):
    sum= a+b
    print("The sum of a and b is : ",sum)
add(20,20)

The sum of a and b is :  40

In [5]:
#  global aand local variable
a=10 #  global
def fun():
    b= 20 # local
    print(b)
    print(a)
fun()
print(b)

20
10
0

In [6]:
# pailndrome using lambda

In [14]:
result = (lambda a:'palindrome' if a==a[::-1] else 'not palindorme')
print(result(a=input("Enter a number")))

Enter a numberlevel
palindrome

In [23]:
greatest= (lambda a,b :'A is greater' if a>b else "B id greater")
print(greatest(a=int(input("Enter a number")),b=int(input("Enter a number"))))

Enter a number20
Enter a number10
A is greater

In [27]:
l1= [lambda x:x , lambda x:x**2, lambda x:x**3]
print(l1[0](2))
print(l1[1](2))
print(l1[2](2))

2
4
8

In [28]:
check = (lambda a: "Even" if a%2==0 else "Odd")
print(check(a=int(input("Enter a number"))))

Enter a number20
Even

In [31]:
# program user enter a number and add 15 auto
n = int(input("How many time you want to run program :"))
A=(lambda a: a + 15)
for i in range(n):
    a=int(input("Enter a number "))
    print(A(a))

How many time you want to run program :5
Enter a number 5
20
Enter a number 10
25
Enter a number 15
30
Enter a number 20
35
Enter a number 25
40

In [45]:
# program lower to upper and upper to lower
A= (lambda a: a.lower() if a.isupper() else a.upper())
print(A(a= input("Enter a string:")))

Enter a string:ARYAN
aryan

In [46]:
def fun(n):
    n=int(input("Enter number:"))
    return lambda    x : x*n
res= fun(2)
print(res('hello'))

Enter number:2
hellohello

In [48]:
def area_sqr(a):
    return a**2

In [50]:
d= [1,2,3,4,5,6]
x= map(area_sqr,d)# function ke ander function
print(list(x))# type cast into list

[1, 4, 9, 16, 25, 36]

In [53]:
L= [11,22,33,44,55,66,77,88,99]
x= set(filter(lambda x:x%2!=0,L))

In [55]:
print(x)

{33, 99, 11, 77, 55}

In [58]:
age=(12,13,45,34,18,33)
x= list(filter(lambda x: x>=18,age))
y= list(map(lambda x:x>=18,age))

In [59]:
print(x)
print(y)

[45, 34, 18, 33]
[False, False, True, True, True, True]

In [62]:
from functools import reduce
L= [1,2,3,4]
x= reduce(lambda a,b: a*b,L)
print(x)

24

In [64]:
def p(x,y):
    return x*y
a= reduce(p,[1,2,3,4])
print(a)

24

In [73]:
def check(x,y):
    if x>y:
        return x
    else:
        return y
def min(x,y):
    if x<y:
        return x
    else:
        return y
    
l=[1,2,34,12]
print("Highest value",reduce(check,l))
print("Lowest value",{reduce(min,l)})

Highest value 34
Lowest value {1}

In [74]:
# # You are provided an list A of size N that contains non-negative integers.
# # Your task is to determine
# # whether the number that is formed by selecting the last digit of all the N numbers is divisible by 10
# # Input format
# # First line: A single integer N denoting the size of array A
# # Second line: N space-separated integers.
# Output format
# If the number is divisible by 10, then print Yes. Otherwise, print No.
# Sample Input
# 85 25 65 21 84
# Sample Output
# No
# Explanation
# Last digit 85 of is 5 .
# last digit of 25 of is 5

In [104]:
# Therefore the number formed is 55514 which is not divisible by 10
n= int(input("Enter a numbers "))
l=[]
d=[]
while n!=0:
    a = int(input("Enter a numbers "))
    l.append(a)
    n=n-1
print(l)
for i in l:
    b=str(i)
    c=b[-1]
    d.append(c)
print(d)
x=int(''.join(d))
print(x)
if x%10==0:
    print("Yes")
else:
    print("No")

Enter a numbers 10
Enter a numbers 13
Enter a numbers 14
Enter a numbers 15
Enter a numbers 14
Enter a numbers 25
Enter a numbers 35
Enter a numbers 36
Enter a numbers 35
Enter a numbers 367
Enter a numbers 36
[13, 14, 15, 14, 25, 35, 36, 35, 367, 36]
['3', '4', '5', '4', '5', '5', '6', '5', '7', '6']
3454556576
No

In [105]:
# Find the most second repeatable character .

In [106]:
a=input().split(' ')
b=0
f=0
for i in a:
    d=a.count(i)
    if d>b:
        max=i
        b=d
print(max)
for i in range(1,b+1):
    a.remove(max)
print(a)
for i in a:
    e=a.count(i)
    if e>f:
        m=i
        f=e
print("This is the most last second repeatable word = ",m)

aaaaaaaaaa
['aaaaaaaaaa']

In [116]:
a= input().split(' ')
b=0
f=0
for i in a:    
    d=a.count(i) 
    print(d)
    if d>b:    
        max=i  
        b=d 

print(max)
print(b)

aa aa bb
2
2
1
aa
2

In [118]:
a= input().split(' ')
for i in a:
    d=a.count(i)
print(d)

aa bb cc aa
2

In [121]:
# Count how many unique alphabet in the given name from dictionary ?
a= 'aryan'
X ={i :a.count(i) for i in a}
print(X)

{'a': 2, 'r': 1, 'y': 1, 'n': 1}

In [122]:
# Dynamic Count

In [123]:
a=input("Enter a name")
X ={i :a.count(i) for i in a}
print(X)

Enter a nameAryan Monga
{'A': 1, 'r': 1, 'y': 1, 'a': 2, 'n': 2, ' ': 1, 'M': 1, 'o': 1, 'g': 1}

In [124]:
# fibonacci series

In [127]:
# 0,1,1,3......n
a=0
b=1
n= int(input("Enter a number"))
while n!=0:
    print(a)
    c=a
    a=b
    b=c+a
    n=n-1

Enter a number10
0
1
1
2
3
5
8
13
21
34

In [128]:
a=0
b=1
n= int(input("Enter a number"))
for i in range(1,n+1):
    print(a)
    c=a
    a=b
    b=c+a
    n=n-1

Enter a number10
0
1
1
2
3
5
8
13
21
34

In [129]:
# factorial
f=1
n= int(input("Enter a number"))
for i in range(1,n+1):
    f=f*i
print(f)

Enter a number10
3628800

In [131]:
import math
math.factorial(10)

3628800

In [138]:
n= int(input("Enter a number"))
for i in range(1,11):
    print(f"{n} X {i} = ",i*n)

Enter a number5
5 X 1 =  5
5 X 2 =  10
5 X 3 =  15
5 X 4 =  20
5 X 5 =  25
5 X 6 =  30
5 X 7 =  35
5 X 8 =  40
5 X 9 =  45
5 X 10 =  50

In [140]:
# prime number 
c=0
n= int(input("Enter a number"))
for i in range(1,11):
    if n%i==0:
        c=c+1
if c==2:
    print("Prime")
else:
    print("not")

Enter a number4
not

In [ ]:
 # no is armstrong or not
n= int(input("Enter the number wghicvh you want to check that it is armstrong or not"))
c=0
a=n
x=a
while n!=0:
    c=c+1
    n=n//10
print(c)
s=0
while a!=0:
    digit=a%10
    s=s+digit**c
    a=a//10

if x==s:
    print(s,'armstrong')
else:
    print("Not")

In [144]:
n= int(input("Enter a number"))
c=0
a=n
x=a
while n!=0:
    c=c+1
    n=n//10
print(c)
s=0
while a!=0:
    digit=a%10
    s=s+digit**c
    a=a//10
if x==s:
    print("Armstrong")
else:
    print("not")

Enter a number153
3
Armstrong

In [149]:
n= int(input("Enter a number"))
c=0
a=n
x=a      
while n!=0:
       c=c+1
       n=n//10
print(c)
s=0
while a!=0:
       digit=a%10
       s=s+digit**c
       a=a//10
if x==s:
    print("Armstrong")
else:
    print("not")

Enter a number182
3
not

In [152]:
n= int(input("Enter a number"))
s=0
while n!=0:
    digit=n%10
    s=s*10+digit
    n=n//10
print(s)

Enter a number124
421