In [2]:
print("Aryan")

Aryan

In [3]:
print('hello "Aryan"')

hello "Aryan"

In [4]:
print("'hello' Aryan")

'hello' Aryan

In [5]:
print("hello 'aryan'")

hello 'aryan'

In [68]:
print('"hello" Aryan')

"hello" Aryan

In [8]:
print('"hello" Aryan')

"hello" Aryan

In [11]:
print("\n")

In [12]:
a=443
print(a)

443

In [14]:
_ = 443
print(_)

443

In [3]:
a2=2
print(2)

2

In [18]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
# interger int ALL -VE TO +VE
# FLOAT float 3.2,4.2
# String str "Aryan"
# Boolean bool True or false

In [20]:
c=10
print(type(c))

<class 'int'>

In [21]:
d=3.0
print(type(d))

<class 'float'>

In [22]:
x='-9'
print(type(x))

<class 'str'>

In [24]:
z =10.4
print("The type of",z,"is",type(z))

The type of 10.4 is <class 'float'>

In [25]:
a ="Aryan"
print("The type of",a,"is",type(a))

The type of Aryan is <class 'str'>

In [26]:
x=10
y=float(x)
print(y)

10.0

In [28]:
x=8.8
s=int(x)
print("The value of ",s)

The value of  8

In [30]:
x='1'
x=int(x)
print(x)
print(type(x))

1
<class 'int'>

In [31]:
x=100
x=float(x)
print(x)
print(type(x))

100.0
<class 'float'>

In [36]:
x=3.14
x=str(x)
print(x)
print(type(x))

3.14
<class 'str'>

In [38]:
x='3.14'
x=float(x)
x=int(x)
print(x)
print(type(x))

3
<class 'int'>

In [40]:
a = input('Enter value of a')
print('a',type(a),a)

Enter value of a2
a <class 'str'> 2

In [41]:
a = input('Enter value of a')
print('a',type(a),a)

Enter value of aa
a <class 'str'> a

In [42]:
c=input()
print(a,'\n')

2
a

In [43]:
x=int(input('Enter value of x'))
print(type(x),x)

Enter value of x3.14

ValueError: invalid literal for int() with base 10: '3.14'

In [44]:
x=int(float(input('Enter value of x')))
print(type(x),x)

Enter value of x3.14
<class 'int'> 3

In [47]:
name=input("Enter your name ")
Age=int(input("Enter your age "))
height=float(input("Enter your height "))

Enter your name Aryan
Enter your age 20
Enter your height 5.7

# operators in python

In [57]:
#Arithmetic Operator
x= int(input('Enter value of x '))
y= int(input('Enter value of y '))

print('The addition of',x,'and',y,'is',x+y)
print('The subtraction of',x,'and',y,'is',x-y)
print('The multiplication of',x,'and',y,'is',x*y)
print('The division of',x,'and',y,'is',x/y)
print('The double division of',x,'and',y,'is',x//y)
print('The mod of',x,'and',y,'is',x%y)
print('The exponansional of',x,'and',y,'is',x**y)

Enter value of x 10
Enter value of y 5
The addition of 10 and 5 is 15
The subtraction of 10 and 5 is 5
The multiplication of 10 and 5 is 50
The division of 10 and 5 is 2.0
The double division of 10 and 5 is 2
The mod of 10 and 5 is 0
The exponansional of 10 and 5 is 100000

precedence

In [59]:
#(),**,*,/,%,//,+,-  
print(1+3*4/2-2)

5.0

In [61]:
a=17.5
b=5
print(a+b-9)

13.5

In [63]:
m=34
z=9
print(34//9)

3

In [64]:
#write a program to print area of rectange
#l*b
l=int(input("Enter the length "))
b=int(input("Enter the breath "))
print('the area of rectangle',l*b)

Enter the length 20
Enter the breath 20
the area of rectangle 400

In [6]:
#cube - circle area
pi=3.14
r=float(input("Enter the radius"))
a=int(input("Enter the area"))
print(pi*r**2-a**2)

Enter the radius4
Enter the area2
46.24

# Assignment -1

In [4]:
x=input('Enter value of x')
print(x)

Enter value of x\n
\n

In [18]:
x=input('Enter value of x')
print(x)

Enter value of x\n
\n

In [2]:
pi=3.14
r=float(input("enter the radius:"))
print("The area of squar is",pi*r**2)

enter the radius:4
The area of squar is 50.24

In [20]:
pi=3.14
r=6
print("The vloume of sphere",4/3*pi*r**3)

The vloume of sphere 904.3199999999999

In [12]:
a=2
b=2
c=2
print("The sum of 3 numbers",(a+b+c)*3)

The sum of 3 numbers 18

In [13]:
b=int(input("Enter the base:"))
h=int(input("Enter the height:"))
print("the volume of sphere",1/2*b*h)

Enter the base:24
Enter the height:30
the voume of sphere 360.0

In [15]:
x=4
y=3
print((x+y)*(x+y))

49

In [8]:
amt=10000
interest=3.5
year=7
print("Simple interestr is",amt*interest*year/100)

Simple interestr is 2450.0

In [25]:
data="246.2458"
d=int(float(data))
print(d)

246

In [6]:
a=77
x=1
b=a
a=x
x=b
print("x=",x)
print("a=",a)

x= 77
a= 1

In [4]:
a = int(input("Enter the value of a:"))
print("The cube of a is:",a**3)

Enter the value of a:4
The cube of a is: 64

# Compound Assignment

In [19]:
x=2
x+=10
print(x)
x*=10
print(x)
x/=10
print(x)
x-=10
print(x)

12
120
12.0
2.0

# Assingment operator

In [26]:
x=10

# Comparison Operator

In [52]:
# == equal to
# > greater than
# < less than
# != not equal to 
# >= greater than equal to 
# <= less than equal to

In [28]:
x=100
y=125

In [29]:
print(x>y)

False

In [30]:
print(x<y)

True

In [31]:
print(x!=y)

True

In [32]:
print(x>=y)

False

In [33]:
print(x<=y)

True

In [34]:
x=10
y=10

In [35]:
print(x>y)
print(x<y)

False
False

In [36]:
print(x!=y)

False

In [37]:
print(x>=y)
print(x<=y)

True
True

In [38]:
print(x==y)

True

In [43]:
x='D'
y='d'
print(x<y)
print(x>y)
print(x!=y)
print(x>=y)

True
False
True
False

In [44]:
print(10>20>30>40>50)
print(10<20<30<40)
print(10>20>30>40>50)
print(50>40>30>20)
print(50>40<20<30)

False
True
False
True
False

# Logical Operator

In [51]:
# and  A*B
# if both the input are true then the output is true

# or   A+B 
#if any one input is true it returns true

# not  A'
#it reverse the operand output

In [11]:
a = True
b = False
c = True
d = False

In [12]:
#and
print(a and b)
print(a and d)
print(a and c)
print(b and d)

#or
print(a or b)
print(b or d)
print(a or d)
print(b or c)

#not
print(not a)
print(not b)

False
False
True
False
True
False
True
True
False
True

# IDENTITY OPERATOR

In [7]:
# is operator
# == compares the content of the variable
# is compares the memory addrees of variable
# if we want to see the address of variable in ram

x=10.0
y=10

print(id(x))
print(id(y))

print(x is y)
print(x==y)

1832227597328
140707595036752
False
True

In [68]:
x= 50
y= 51
print(id(x))
print(id(y))

140706815814992
140706815815024

# membership operator

In [69]:
# in operator
name='Aryan'
print('A' in name)

True

In [25]:
a = ['AryanMonga',24,26]
print('A' in a)
print("AryanMonga" in a)
print(26 in a)

False
True
True

In [12]:
 r = 25
 a = 17
 ro = 23
 c = 19
 p = 41
 v =33
print("equal pens",(r+a+ro+c+p+v)//6)
print("equal pens",(r+a+ro+c+p+v)%6)

equal pens 26
equal pens 2

In [24]:
a = int(input("Enter the value of a"))
print("the value is",a+2)
a+=2
print(a)

Enter the value of a4
the value is 6
6


# conditional statements
If - else...

In [9]:
#saturday -2
n=int(input("ENTER a number"))
if n>0: 
    print(n, 'positive')
else:
    printf(n ,'negeative')

ENTER a number3
3 +ve

In [11]:
n=int(input("ENTER a number"))
if n%2==0 :
    print(n,"no is even")
else:
    print(n,"n0 is odd")

ENTER a number5
5 n0 is odd

In [13]:
a=int(input("ENTER a number"))
b=int(input("ENTER a number"))
if a>b:
    print("a is greater",a)
else:
    print("b is greater",b)

ENTER a number6
ENTER a number8
b is greater 8

In [16]:
a=int(input("ENTER a number"))
if a%7==0:
    print("divisble by 7")
else:
    print("not divisible by 7")

ENTER a number5
not divisible by 7

In [20]:
#multiple condition
n=int(input("ENTER a number = "))
if n>0: 
    print(n, 'positive')
elif n==0: 
    print(n,'zero')
else:
    printf(n ,'negeative')

ENTER a number = 6
6 positive

In [22]:
a= int(input("Enter the value of a"))
b= int(input("Enter the value of b"))
c= int(input("Enter the value of c"))
if a>b and b>c:
    print("a is greater",a)
elif b>c and c>a:
    print("b is greater",b)
else:
    print("c is greater",c)

Enter the value of a2
Enter the value of b4
Enter the value of c6
c is greater 6

In [27]:
a=int(input("ENTER a number"))
if a%7==0 and a%5==0:
    print("divisble by 5 and 7")
else:
    print("not divisible by 5 and 7")

ENTER a number55
divisble by 5 and 7

In [30]:
a=int(input("ENTER a number"))
if a%7==0 and a%5==0:
    print("divisble by 5 and 7")
elif a%5==0:
    print("divisble by 5")
elif a%7==0:
    print("divisible by 7")
else:
    print("not divisible by 5 and 7")

ENTER a number21
divisible by 7

In [28]:
a = int(input("Enter a number "))
b = int(input("Enter a number "))
c = input("Enter the operator you want to perform  ...+,-,/,*,**,//,%")
if  c == '+':
    print("the add is",a+b)
elif c == '-':
     print("the sub is",a+b)
elif c == '/':
     print("the div is",a/b)
elif c == '*':
     print("the mul is",a*b)
elif c == '**':
     print("the exp is",a**b)
elif c == '//':
     print("the ddiv is",a//b)
elif c == '%':
     print("the mod is",a%b)
else:
    print("pls check!! invalid operator")

Enter a number 2
Enter a number 2
Enter the operator you want to perform  ...+,-,/,*,**,//,%**
the exp is 4

In [47]:
# nested if else
n = int(input("Enter a number "))
if n%5 == 0:
    if n%7==0:
        print(n,"divisible by 5 and 7")
    else:
        print(n,"divisible by 5")
elif n%7==0:
    print(n,"divisible by 7")
else:
    print(n,"can't divisible by 5 and 7")

Enter a number 35
35 divisible by 5 and 7

In [58]:
n = int(input("Enter a number "))
if n%2==1:
    print(" weird")
else:
    if n>=2 and n<=5:
        print("not weird")
    elif n>=5 and n<=20:
        print("not weird")
    else:
         print("not weird")

Enter a number 21
 weird

In [75]:
n = input("Enter a weather ")
if n == "sunny" or weather == "Sunny ":
    print("weather is sunny")
    t = int(input("Enter the temperature "))
    if t>=35 and t <=50:
        print("play")
    else:
        print("not play")
    
elif n == "winter" or n = 'Rainy' or n == 'rainy':
    print("weather is winter")
    if t>=20:
        print("play")
    else:
        print("not play")
        
elif  n == "rainy" or n == 'WINTER' :
    print("weather is rainy")
    c = input("Enter the condition ")
    if c == "heavy":
        print("not play")
    else:
        print("play")
        
else:
    print("Invalid")

Enter a weather rainy
weather is rainy
Enter the condition heavy
not play

# Assignment - 2

In [1]:
# q1
n = int(input("Enter the number"))
if n>0:
    print(n," is a positive number")
elif n==0:
    print(n," is zero")
else:
    print(n," is a negative number")

Enter the number-1
-1  is a negative number

In [7]:
#q2
username = 'Aryan433'
password = 123456789
u = input("Enter your username")
p = int(input("Enter your password"))
if username == u and password == p:
    print("welcome to the website!!!")
else:
    print("report! invalid username and password")

Enter your usernameAryan433
Enter your password123456789
welcome to the website!!!

In [13]:
#q3
n = int(input("Enter the number"))
if n>0 and n<10:
    print(n,"is one digit number")
elif n>=10 and n<=99:
    print(n,"is two digit number")
elif n>=100 and n<=999:
    print(n,"is three digit number")
else:
    print(n,"is more than 3 digit number")

Enter the number945
945 is three digit number

In [16]:
#q4
n = int(input("Enter the number"))
if n<=1000:
    print(n," is smallest 4 digit number")
else:
    print(n," is not smallest 4 digit number")

Enter the number1000
1000  is smallest 4 digit number

In [23]:
#q5
a = int(input("Enter the value of a "))
b = int(input("Enter the value of b "))
c = int(input("Enter the value of c "))
if a>b and b>c:
    print(a,"is greatest")
elif b>c and c>a:
    print(b,"is greatest")
else:
    print(c,"is greatest")

Enter the value of a 2
Enter the value of b 8
Enter the value of c 6
8 is greatest

In [25]:
#q6
a = int(input("Enter the value of a "))
b = int(input("Enter the value of b "))
c = int(input("Enter the value of c "))
if (a+b)>c:
    print("it can form sides of triangle")
else:
    print("it can't form sides of triangle")

Enter the value of a 4
Enter the value of b 4
Enter the value of c 2
it can form sides of triangle

In [30]:
#7
a = int(input("Enter the value of a "))
b = int(input("Enter the value of b "))
c = int(input("Enter the value of c "))
if c**2 == a**2+b**2:
    print("The triangle is right angled triangle")
elif c**2 < a**2+b**2:
    print("The triangle is acute angle triangle")
elif c**2 > a**2+b**2:
    print("The triangle is obtuse angle triangle")
else:
    print("something went wrong!!!")

Enter the value of a 3
Enter the value of b 4
Enter the value of c 5
The triangle is right angled triangle

In [34]:
#8
a = int(input("Enter the value of a "))
b = int(input("Enter the value of b "))
c = int(input("Enter the value of c "))
if a == b and b == c:
    print("This is Equilateral traingle")
elif a == b or b == c:
    print("This is isosceles traingle")
elif a != b and b != c and c!=a:
    print("This is scalene traingle")

Enter the value of a 1
Enter the value of b 2
Enter the value of c 3
This is scalene traingle

In [40]:
#9
t = input("Enter the type of toy")
a = int(input("Enter the amount of toy... "))
if t == "battery toy":
    a = int(input("Enter the amount of toy... "))
    if a>=1000:
        print("10% discount alloted")
        discount=a*10/100
        print("Your total amount is ",a - discount)

elif t == "key toy":
    if a>=100:
        print("5% discount alloted")
        discount=a*5/100
        print("Your total amount is ",a - discount)

elif t == "Electrical toy":
    if a>=500:
        print("10% discount alloted")
        discount=a*10/100
        print("Your total amount is ",a - discount)

else:
    print("You purchased nothing!!!")

Enter the type of toykey toy
Enter the amount of toy... 580
5% discount alloted
Your total amount is  551.0

In [53]:
#q10
a=1
b=2
c=3
d=4 
x = int(input("Enter the value of x "))
k = int(input("Enter the value of k "))
if x>k:
    fun= a*x**3-b*x**2 + c*x-d
    print("A function is ", fun)
elif x==k:
    fun= 0
    print("A function is ", fun)
elif x<k:
    fun =  -a*x**3 + b*x**2 - c*x +d
    print("A function is ", fun)
else:
    print("nothing!!!")

Enter the value of x 2
Enter the value of k 4
A function is  -2

In [66]:
#q11
pu = int(input("Enter the past unit consumed"))
cu = int(input("Enter the current unit consumed"))
uc= cu-pu
if  uc>=0 and uc<= 100:
    charges= uc*0.50
    print("total charges is ",charges)
elif uc>100 and uc<=200:
    charges= 50+(uc-100)*1
    print("total charges is ",charges)
elif uc>200 and uc<=300:
    charges= 150+(uc-200)*1.50
    print("total charges is ",charges)
else:
    charges= 300+(uc-300)*2
    print("total charges is ",charges)

Enter the past unit consumed300
Enter the current unit consumed600
total charges is  300.0

In [20]:
#sunday-2
salary = int(input("Enter your salary "))     
if salary >= 25000 and salary < 50000:
    tax= salary*10/100
    totalsalary = salary - tax
    print("salary after deducting tax",totalsalary)
elif salary >= 50000 and salary <100000:
    tax = salary*20/100
    totalsalary = salary - tax
    print("salary after deducting tax",totalsalary)
elif salary >= 100000:
    tax = salary*20/100
    totalsalary = salary - tax
    print("salary after deducting tax",totalsalary)
else:
    print("you enter something invalid ")

Enter your salary 27000
salary after deducting tax 24300.0

In [31]:
print("pizza : burger : pasta ")

menu = input("Enter the food item you want choose ")
if menu == "pizza":
    print("toppings available for pizza  cheese: veggies : corn  ")
    top = input("Enter the topping ")
    if top == "cheese":
        print("your cheese pizza price is :250")
    elif top == "veggies":
        print("Your veggies pizza price is :180")
    elif top == "corn":
        print("Your corn pizza price is :200")
    else:
        print("this topping is not available")
elif menu == "burger":
    print("category available for burger : Veg and Non_Veg")
    cat = input("Enter the category ")
    if cat == "Veg":
        print("your veg burger price is :120")
    elif cat == "Non_Veg":
        print("your Non_Veg burger price is :190")
    else:
        print("Not available")
elif menu == "pasta":
    print("category available for  : red sause and white sause paste")
    past = input("Enter the category ")
    if past == "red_sause":
        print("your red sause pasta price is :120")
    elif past == "white+_sause":
        print("your white sause pasta price is :190")
    else:
        print("Not available")
else:
    print("inalid item")

pizza : burger : pasta
Enter the food item you want choose pizza
toppings available for pizza  cheese: veggies : corn
Enter the topping onoin
this topping is not available

In [1]:
#ATM
amount = 100000000000000000000000000000000000000000000000000000000000000000000
pin=int(input("Enter your pin"))
if pin == 1234:
    print("1: cash enquiry , 2 : Deposit,  3 :withdrawl " )
    choose = int(input("choose your option"))
    if choose == 1:
        print("YOUR ACCOUNT BALANCE IS ",amount)
    elif choose ==2:
        amt=int(input("Enter amount you want to deposit "))
        totalamt= amount+amt
        print("Your total account balance is ", totalamt)
    elif choose ==3:
        withamt=int(input("Enter amount you want to withdrawl "))
        restamt= amount-withamt
        print("Your total account balance is ", restamt)
    else:
        print("not available!!!")
else:
    print("you entered wrong pin! please try again")

Enter your pin1234
1: cash enquiry , 2 : Deposit,  3 :withdrawl
choose your option3
Enter amount you want to withdrawl 200
Your total account balance is  99999999999999999999999999999999999999999999999999999999999999999800