# for loop

In [1]:
print("A\nR\nY\nA\nN\n")

A
R
Y
A
N

In [6]:
#we can use loops only on iterable items...
#i = itetrator it can be anything 
name= "ARYAN"
for i in name:
    print(i)
    print('1')
print("hello")

A
1
R
1
Y
1
A
1
N
1
hello

In [11]:
name= "Aryan Monga"
k=0
for i in name:
    k=k+1
    print(k,i)

1 A
2 r
3 y
4 a
5 n
6
7 M
8 o
9 n
10 g
11 a

In [37]:
x=["A", "B", "C", "D", "E", "F", "G" ,"H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X",
"Y", "Z"]
k=0
v=0
a= 0
for j in x:
    if j=='A' or j=='E' or j=='I' or j=='O' or j=='U':
        k= k+1
     
    else:
        v= v+1
    
print("vowels",k)
print("consonant",v)
for i in x:
    a= a+1
print(a)

vowels 5
consonant 21
26

In [1]:
a = [1,2,3,4,5,6,7,8,9,10]
e = 0
o = 0
for i in a:
    if i%2==0:
        e= e+1
        print("even",i)
    else:
        o = o+1
        print("odd",i)
        
print("even",e) 
print("odd",o)
#addition of list

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
even 5
odd 5

In [77]:
a = [1,2,3,4,5,6,7,8,9,10]

u =0
for j in a:
     u = u+j**2
print("Addition",u)

Addition 385

In [81]:
a = [1,2,3,4,5,6,7,8,9,10]
e = 0
o = 0
u = 0
s = 0
c = 0
for i in a:
    if i%2==0:
        e= e+1
        print("even",i)
        s = s+i**2
        
    else:
        o = o+1
        print("odd",i)
        c = c+i**3
        
print("even",e) 
print("odd",o)
print("add even",s)
print("add odd",c)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
even 5
odd 5
add even 220
add odd 1225

In [4]:
a = [1,2,3,4,5,6,7,8,9,10]
s =0
u =0
for j in a:
    u = u+j
    s = s+1
    
print("Average ",u/s)

Average  5.5

# sunday-2

# range function

In [2]:
#range function last values  is excluded
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1,56):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [7]:
#1 to 50
se = 0
so  = 0
s= 0
v = 0
for i in range(1,51):
    if i%2==0:
        se = se +1
        s = s+i**2
    else:
        so = so + 1
        v = v+i**3
print(" even",se)
print("odd",so)
print("sum",s)
print("odd",v)

 even 25
odd 25
sum 22100
odd 780625

In [10]:
s = 0
v = 0
o = 0
b = 0
for i in range(1,51):
    if i % 2==0 and i % 5==0:
        s = i**2
        v = v+s
    else:
        o = i**3
        b = b+o
print("sum if",v)
print("sum else",b)

sum if 5500
sum else 1400625

In [25]:
a = int(input("Enter your number"))

for i in range(1,11):
    print(a * i )

Enter your number2
2
4
6
8
10
12
14
16
18
20

In [27]:
a = int(input("Enter your number"))
b = 0 
for i in range(1,11):
    print(a,"*",i, "=",a*1)

Enter your number2
2 * 1 = 2
2 * 2 = 2
2 * 3 = 2
2 * 4 = 2
2 * 5 = 2
2 * 6 = 2
2 * 7 = 2
2 * 8 = 2
2 * 9 = 2
2 * 10 = 2

In [50]:
#factorial
a = int(input("Enter a number"))
t = 1
if a<0:
    print("Invalid")
elif a==0:
    t =1
    print("factorial is 1",t)
else:
    for i in range(1,a+1):
        t = t*i
    print("fact",t)

Enter a number0
factorial is 1 1

In [52]:
a = int(input("Enter a number"))
t = 1
for i in range(1,a+1):
        t = t*i
print("fact",t)

Enter a number4
fact 24

# many no. averages

In [65]:
a = int(input("Enter the number"))
sum = 0

for i in range(1, a+1):
    b = int(input("enter numbers"))

    sum = sum+i
print("Average ",sum/a)

Enter the number4
enter numbers1
enter numbers2
enter numbers3
enter numbers4
Average  2.5

In [2]:
a = int(input("Enter a number "))
count = 0
for i in  range(1,a+1):
    if a%i == 0:
        count = count+1
if count == 2:
    print(a," is Prime number")
else:
    print(a," is not prime")

Enter a number 8
8  is not prime

In [ ]:
first 10 mumber fibonacci series

In [4]:
n = int(input("Number of elements in Fibonacci Series : "))
fibonacciSeries = [0,1]

if n>2:
    for i in range(2, n):
        nextElement = fibonacciSeries[i-1] + fibonacciSeries[i-2]
        fibonacciSeries.append(nextElement)

print(fibonacciSeries)

Number of elements in Fibonacci Series : 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [3]:
#fibonacci series
n= int(input("Enter the number"))
a= 0
b= 1
for i in range(n):
    print(a)f
    c=a
    a= b
    b= c+a

Enter the number10
0
1
1
2
3
5
8
13
21
34

# step for lopp
# saturday...

In [17]:
for i in range(11,0,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2
1

In [18]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [23]:
for i in range(99,0,-2):
    print(i)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [24]:
for i in range(100,0,-2):
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

# WHILE LOOP

In [1]:
#WHILE WORK ON CONDITION
#while condition:

In [26]:
counter= 1
while counter<=10:
    print("The number is ",counter)
    counter = counter + 1

print("End")

The number is  1
The number is  2
The number is  3
The number is  4
The number is  5
The number is  6
The number is  7
The number is  8
The number is  9
The number is  10
End

In [27]:
counter = 1
while counter<=4:
    counter = counter +1
    print("The number is ",counter)

The number is  2
The number is  3
The number is  4
The number is  5

In [37]:
x = 1
while x>1:
    print("Hello",x)
    x = x+1
print("Nope")

Nope

In [43]:
#Factorial
a = int(input("Enter a number")) #5
t = 1
while a!=0: #a>0
    t = t*a
    a = a-1
print("fact",t)

Enter a number5
fact 120

In [56]:
ch= input("Enter the character")
while ch!= 'q':
    if ch == 'p':
        print("hello")
    ch = input("Enter again")
print("End")

Enter the characterp
hello
Enter againa
Enter againq
End

In [1]:
#count digit
n = int(input('Enter the number'))
count= 0
while n!=0:
    n = n//10
    count = count +1
print("total digit is",count)

Enter the number1234 5678

ValueError: invalid literal for int() with base 10: '1234 5678'

In [64]:
n = int(input("Enter a number you want to reverse"))
rev= 0
while n!=0:
    digit= n%10
    rev= rev*10+digit
    n= n//10
print(rev)

Enter a number you want to reverse2468
8642

In [2]:
n = int(input("Enter a number"))
a = n
rev = 0
while n!=0: 
    digit= n%10
    rev= rev*10+digit
    n = n//10
if rev == a:
        print("no. is pallindrome")
else:
        print("no. is not pallindrom")

Enter a number121
no. is pallindrome

In [17]:
n= int(input("Enter a number"))
a = 0
b = 1
while n!=0:
    print(a)
    c = a
    a = b
    b = c + a
    n= n-1

Enter a number10
0
1
1
2
3
5
8
13
21
34

In [30]:
#Armstrong Number
n = int(input("Enter a number"))
a = n
x = a
count= 0
while n!= 0:
    
    count = count +1
    n = n//10  #length short
print ("The no. of digit is ",count)
s=0
while a!=0:
    digit = a%10
    s = s + digit**count
    a = a//10
if x == s:
    print("amstrong number")
else:
    print("Number is not armstrong number")

Enter a number153
The no. of digit is  3
amstrong number

In [32]:
n= int(input("Enter a number"))
a=n
while n%2==0:
    n = n//2
if n==1:
    print(a,"is a power of 2")
else:
    print(a,"is not a power of 2")

Enter a number8
8 is a power of 2

# Jump Statement

In [39]:
for i in range(10):
    if i == 4:
        break
    print(i)

0
1
2
3

In [41]:
name= 'Aryan'
for i in name:
    if i =='a':
        break
    print(i)

A
r
y

In [42]:
x=1
while x<=10:
    print(x)
    if x==5:
        break
    x= x+1

1
2
3
4
5

In [46]:
list =[1,2,3,4,5,6]
s=0
c=0
for num in list:
    print(num)
    s = s+num
    c= c+1
    if(c==3):
        break 
print("Sum is ",s)
print(c)

1
2
3
Sum is  6
3

In [48]:
s=0
c=0
while c<6:
    s = s+c
    c= c+1
    if(c==3):
        break 
print("Sum is ",s)

Sum is  3

# continue

In [52]:
#skip the value 
for i in range(1,11):
    if i==5:
        continue
        print("a")
    print(i)

1
2
3
4
6
7
8
9
10

In [53]:
for i in range(1,11):
    if i==5:
        continue
        print("a")
        print(i)

In [55]:
for i in range(1,11):
    if i==5:
        print("Hello 5")
        continue
        print("a")

Hello 5

In [56]:
for k in 'Aryan':
    if k=="a":
        continue
print(k)

n

In [57]:
x= 0
while x<=10:
    x = x+1
    if x==5:
        continue
    print(x)

1
2
3
4
6
7
8
9
10
11

In [61]:
s=0
c=0
while c<6:
    s = s+c
    c= c+1
    if(c==3):
        continue 
    print(c)
print("Sum is ",s)

1
2
4
5
6
Sum is  15

In [62]:
s=0
for c in range(1,9):
    s = s+c
    c= c+1
    if(c==5):
        continue 
    print(c)
print("Sum is ",s)

2
3
4
6
7
8
9
Sum is  36

# pass 
#ignore the statement

In [6]:
n = int(input("ENTer a number"))
if n%2!==0:
    print("No. is odd")
else:
    pass

SyntaxError: invalid syntax (<ipython-input-6-a682d3900d77>, line 2)

# Nested Loops

In [72]:
for i in range(3):
        print(i)

0
1
2

In [77]:
l = ['parrot','perl','java','python','c','c++']
for i in l:
    if i[0]=='p':
        print(i)

parrot
perl
python

In [78]:
l = ['parrot','perl','java','python','c','c++']
for i in l:
    for j in i:
        if j =='p':
            print(i)
        else:
            pass

parrot
perl
python

In [90]:
n= int(input("Enter a number"))

for i in range(1,n+1):
    print("new table")
    for j in range(1,11):
        print(i,'*',j,'=',i*j)
    print()

Enter a number100
new table
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

new table
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

new table
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

new table
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

new table
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

new table
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

new table
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

new table
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

new table
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

new table
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

new table
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

new table
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

new table
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

new table
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

new table
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

new table
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160

new table
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170

new table
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180

new table
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

new table
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

new table
21 * 1 = 21
21 * 2 = 42
21 * 3 = 63
21 * 4 = 84
21 * 5 = 105
21 * 6 = 126
21 * 7 = 147
21 * 8 = 168
21 * 9 = 189
21 * 10 = 210

new table
22 * 1 = 22
22 * 2 = 44
22 * 3 = 66
22 * 4 = 88
22 * 5 = 110
22 * 6 = 132
22 * 7 = 154
22 * 8 = 176
22 * 9 = 198
22 * 10 = 220

new table
23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230

new table
24 * 1 = 24
24 * 2 = 48
24 * 3 = 72
24 * 4 = 96
24 * 5 = 120
24 * 6 = 144
24 * 7 = 168
24 * 8 = 192
24 * 9 = 216
24 * 10 = 240

new table
25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250

new table
26 * 1 = 26
26 * 2 = 52
26 * 3 = 78
26 * 4 = 104
26 * 5 = 130
26 * 6 = 156
26 * 7 = 182
26 * 8 = 208
26 * 9 = 234
26 * 10 = 260

new table
27 * 1 = 27
27 * 2 = 54
27 * 3 = 81
27 * 4 = 108
27 * 5 = 135
27 * 6 = 162
27 * 7 = 189
27 * 8 = 216
27 * 9 = 243
27 * 10 = 270

new table
28 * 1 = 28
28 * 2 = 56
28 * 3 = 84
28 * 4 = 112
28 * 5 = 140
28 * 6 = 168
28 * 7 = 196
28 * 8 = 224
28 * 9 = 252
28 * 10 = 280

new table
29 * 1 = 29
29 * 2 = 58
29 * 3 = 87
29 * 4 = 116
29 * 5 = 145
29 * 6 = 174
29 * 7 = 203
29 * 8 = 232
29 * 9 = 261
29 * 10 = 290

new table
30 * 1 = 30
30 * 2 = 60
30 * 3 = 90
30 * 4 = 120
30 * 5 = 150
30 * 6 = 180
30 * 7 = 210
30 * 8 = 240
30 * 9 = 270
30 * 10 = 300

new table
31 * 1 = 31
31 * 2 = 62
31 * 3 = 93
31 * 4 = 124
31 * 5 = 155
31 * 6 = 186
31 * 7 = 217
31 * 8 = 248
31 * 9 = 279
31 * 10 = 310

new table
32 * 1 = 32
32 * 2 = 64
32 * 3 = 96
32 * 4 = 128
32 * 5 = 160
32 * 6 = 192
32 * 7 = 224
32 * 8 = 256
32 * 9 = 288
32 * 10 = 320

new table
33 * 1 = 33
33 * 2 = 66
33 * 3 = 99
33 * 4 = 132
33 * 5 = 165
33 * 6 = 198
33 * 7 = 231
33 * 8 = 264
33 * 9 = 297
33 * 10 = 330

new table
34 * 1 = 34
34 * 2 = 68
34 * 3 = 102
34 * 4 = 136
34 * 5 = 170
34 * 6 = 204
34 * 7 = 238
34 * 8 = 272
34 * 9 = 306
34 * 10 = 340

new table
35 * 1 = 35
35 * 2 = 70
35 * 3 = 105
35 * 4 = 140
35 * 5 = 175
35 * 6 = 210
35 * 7 = 245
35 * 8 = 280
35 * 9 = 315
35 * 10 = 350

new table
36 * 1 = 36
36 * 2 = 72
36 * 3 = 108
36 * 4 = 144
36 * 5 = 180
36 * 6 = 216
36 * 7 = 252
36 * 8 = 288
36 * 9 = 324
36 * 10 = 360

new table
37 * 1 = 37
37 * 2 = 74
37 * 3 = 111
37 * 4 = 148
37 * 5 = 185
37 * 6 = 222
37 * 7 = 259
37 * 8 = 296
37 * 9 = 333
37 * 10 = 370

new table
38 * 1 = 38
38 * 2 = 76
38 * 3 = 114
38 * 4 = 152
38 * 5 = 190
38 * 6 = 228
38 * 7 = 266
38 * 8 = 304
38 * 9 = 342
38 * 10 = 380

new table
39 * 1 = 39
39 * 2 = 78
39 * 3 = 117
39 * 4 = 156
39 * 5 = 195
39 * 6 = 234
39 * 7 = 273
39 * 8 = 312
39 * 9 = 351
39 * 10 = 390

new table
40 * 1 = 40
40 * 2 = 80
40 * 3 = 120
40 * 4 = 160
40 * 5 = 200
40 * 6 = 240
40 * 7 = 280
40 * 8 = 320
40 * 9 = 360
40 * 10 = 400

new table
41 * 1 = 41
41 * 2 = 82
41 * 3 = 123
41 * 4 = 164
41 * 5 = 205
41 * 6 = 246
41 * 7 = 287
41 * 8 = 328
41 * 9 = 369
41 * 10 = 410

new table
42 * 1 = 42
42 * 2 = 84
42 * 3 = 126
42 * 4 = 168
42 * 5 = 210
42 * 6 = 252
42 * 7 = 294
42 * 8 = 336
42 * 9 = 378
42 * 10 = 420

new table
43 * 1 = 43
43 * 2 = 86
43 * 3 = 129
43 * 4 = 172
43 * 5 = 215
43 * 6 = 258
43 * 7 = 301
43 * 8 = 344
43 * 9 = 387
43 * 10 = 430

new table
44 * 1 = 44
44 * 2 = 88
44 * 3 = 132
44 * 4 = 176
44 * 5 = 220
44 * 6 = 264
44 * 7 = 308
44 * 8 = 352
44 * 9 = 396
44 * 10 = 440

new table
45 * 1 = 45
45 * 2 = 90
45 * 3 = 135
45 * 4 = 180
45 * 5 = 225
45 * 6 = 270
45 * 7 = 315
45 * 8 = 360
45 * 9 = 405
45 * 10 = 450

new table
46 * 1 = 46
46 * 2 = 92
46 * 3 = 138
46 * 4 = 184
46 * 5 = 230
46 * 6 = 276
46 * 7 = 322
46 * 8 = 368
46 * 9 = 414
46 * 10 = 460

new table
47 * 1 = 47
47 * 2 = 94
47 * 3 = 141
47 * 4 = 188
47 * 5 = 235
47 * 6 = 282
47 * 7 = 329
47 * 8 = 376
47 * 9 = 423
47 * 10 = 470

new table
48 * 1 = 48
48 * 2 = 96
48 * 3 = 144
48 * 4 = 192
48 * 5 = 240
48 * 6 = 288
48 * 7 = 336
48 * 8 = 384
48 * 9 = 432
48 * 10 = 480

new table
49 * 1 = 49
49 * 2 = 98
49 * 3 = 147
49 * 4 = 196
49 * 5 = 245
49 * 6 = 294
49 * 7 = 343
49 * 8 = 392
49 * 9 = 441
49 * 10 = 490

new table
50 * 1 = 50
50 * 2 = 100
50 * 3 = 150
50 * 4 = 200
50 * 5 = 250
50 * 6 = 300
50 * 7 = 350
50 * 8 = 400
50 * 9 = 450
50 * 10 = 500

new table
51 * 1 = 51
51 * 2 = 102
51 * 3 = 153
51 * 4 = 204
51 * 5 = 255
51 * 6 = 306
51 * 7 = 357
51 * 8 = 408
51 * 9 = 459
51 * 10 = 510

new table
52 * 1 = 52
52 * 2 = 104
52 * 3 = 156
52 * 4 = 208
52 * 5 = 260
52 * 6 = 312
52 * 7 = 364
52 * 8 = 416
52 * 9 = 468
52 * 10 = 520

new table
53 * 1 = 53
53 * 2 = 106
53 * 3 = 159
53 * 4 = 212
53 * 5 = 265
53 * 6 = 318
53 * 7 = 371
53 * 8 = 424
53 * 9 = 477
53 * 10 = 530

new table
54 * 1 = 54
54 * 2 = 108
54 * 3 = 162
54 * 4 = 216
54 * 5 = 270
54 * 6 = 324
54 * 7 = 378
54 * 8 = 432
54 * 9 = 486
54 * 10 = 540

new table
55 * 1 = 55
55 * 2 = 110
55 * 3 = 165
55 * 4 = 220
55 * 5 = 275
55 * 6 = 330
55 * 7 = 385
55 * 8 = 440
55 * 9 = 495
55 * 10 = 550

new table
56 * 1 = 56
56 * 2 = 112
56 * 3 = 168
56 * 4 = 224
56 * 5 = 280
56 * 6 = 336
56 * 7 = 392
56 * 8 = 448
56 * 9 = 504
56 * 10 = 560

new table
57 * 1 = 57
57 * 2 = 114
57 * 3 = 171
57 * 4 = 228
57 * 5 = 285
57 * 6 = 342
57 * 7 = 399
57 * 8 = 456
57 * 9 = 513
57 * 10 = 570

new table
58 * 1 = 58
58 * 2 = 116
58 * 3 = 174
58 * 4 = 232
58 * 5 = 290
58 * 6 = 348
58 * 7 = 406
58 * 8 = 464
58 * 9 = 522
58 * 10 = 580

new table
59 * 1 = 59
59 * 2 = 118
59 * 3 = 177
59 * 4 = 236
59 * 5 = 295
59 * 6 = 354
59 * 7 = 413
59 * 8 = 472
59 * 9 = 531
59 * 10 = 590

new table
60 * 1 = 60
60 * 2 = 120
60 * 3 = 180
60 * 4 = 240
60 * 5 = 300
60 * 6 = 360
60 * 7 = 420
60 * 8 = 480
60 * 9 = 540
60 * 10 = 600

new table
61 * 1 = 61
61 * 2 = 122
61 * 3 = 183
61 * 4 = 244
61 * 5 = 305
61 * 6 = 366
61 * 7 = 427
61 * 8 = 488
61 * 9 = 549
61 * 10 = 610

new table
62 * 1 = 62
62 * 2 = 124
62 * 3 = 186
62 * 4 = 248
62 * 5 = 310
62 * 6 = 372
62 * 7 = 434
62 * 8 = 496
62 * 9 = 558
62 * 10 = 620

new table
63 * 1 = 63
63 * 2 = 126
63 * 3 = 189
63 * 4 = 252
63 * 5 = 315
63 * 6 = 378
63 * 7 = 441
63 * 8 = 504
63 * 9 = 567
63 * 10 = 630

new table
64 * 1 = 64
64 * 2 = 128
64 * 3 = 192
64 * 4 = 256
64 * 5 = 320
64 * 6 = 384
64 * 7 = 448
64 * 8 = 512
64 * 9 = 576
64 * 10 = 640

new table
65 * 1 = 65
65 * 2 = 130
65 * 3 = 195
65 * 4 = 260
65 * 5 = 325
65 * 6 = 390
65 * 7 = 455
65 * 8 = 520
65 * 9 = 585
65 * 10 = 650

new table
66 * 1 = 66
66 * 2 = 132
66 * 3 = 198
66 * 4 = 264
66 * 5 = 330
66 * 6 = 396
66 * 7 = 462
66 * 8 = 528
66 * 9 = 594
66 * 10 = 660

new table
67 * 1 = 67
67 * 2 = 134
67 * 3 = 201
67 * 4 = 268
67 * 5 = 335

67 * 6 = 402
67 * 7 = 469
67 * 8 = 536
67 * 9 = 603
67 * 10 = 670

new table
68 * 1 = 68
68 * 2 = 136
68 * 3 = 204
68 * 4 = 272
68 * 5 = 340
68 * 6 = 408
68 * 7 = 476
68 * 8 = 544
68 * 9 = 612
68 * 10 = 680

new table
69 * 1 = 69
69 * 2 = 138
69 * 3 = 207
69 * 4 = 276
69 * 5 = 345
69 * 6 = 414
69 * 7 = 483
69 * 8 = 552
69 * 9 = 621
69 * 10 = 690

new table
70 * 1 = 70
70 * 2 = 140
70 * 3 = 210
70 * 4 = 280
70 * 5 = 350
70 * 6 = 420
70 * 7 = 490
70 * 8 = 560
70 * 9 = 630
70 * 10 = 700

new table
71 * 1 = 71
71 * 2 = 142
71 * 3 = 213
71 * 4 = 284
71 * 5 = 355
71 * 6 = 426
71 * 7 = 497
71 * 8 = 568
71 * 9 = 639
71 * 10 = 710

new table
72 * 1 = 72
72 * 2 = 144
72 * 3 = 216
72 * 4 = 288
72 * 5 = 360
72 * 6 = 432
72 * 7 = 504
72 * 8 = 576
72 * 9 = 648
72 * 10 = 720

new table
73 * 1 = 73
73 * 2 = 146
73 * 3 = 219
73 * 4 = 292
73 * 5 = 365
73 * 6 = 438
73 * 7 = 511
73 * 8 = 584
73 * 9 = 657
73 * 10 = 730

new table
74 * 1 = 74
74 * 2 = 148
74 * 3 = 222
74 * 4 = 296
74 * 5 = 370
74 * 6 = 444
74 * 7 = 518
74 * 8 = 592
74 * 9 = 666
74 * 10 = 740

new table
75 * 1 = 75
75 * 2 = 150
75 * 3 = 225
75 * 4 = 300
75 * 5 = 375
75 * 6 = 450
75 * 7 = 525
75 * 8 = 600
75 * 9 = 675
75 * 10 = 750

new table
76 * 1 = 76
76 * 2 = 152
76 * 3 = 228
76 * 4 = 304
76 * 5 = 380
76 * 6 = 456
76 * 7 = 532
76 * 8 = 608
76 * 9 = 684
76 * 10 = 760

new table
77 * 1 = 77
77 * 2 = 154
77 * 3 = 231
77 * 4 = 308
77 * 5 = 385
77 * 6 = 462
77 * 7 = 539
77 * 8 = 616
77 * 9 = 693
77 * 10 = 770

new table
78 * 1 = 78
78 * 2 = 156
78 * 3 = 234
78 * 4 = 312
78 * 5 = 390
78 * 6 = 468
78 * 7 = 546
78 * 8 = 624
78 * 9 = 702
78 * 10 = 780

new table
79 * 1 = 79
79 * 2 = 158
79 * 3 = 237
79 * 4 = 316
79 * 5 = 395
79 * 6 = 474
79 * 7 = 553
79 * 8 = 632
79 * 9 = 711
79 * 10 = 790

new table
80 * 1 = 80
80 * 2 = 160
80 * 3 = 240
80 * 4 = 320
80 * 5 = 400
80 * 6 = 480
80 * 7 = 560
80 * 8 = 640
80 * 9 = 720
80 * 10 = 800

new table
81 * 1 = 81
81 * 2 = 162
81 * 3 = 243
81 * 4 = 324
81 * 5 = 405
81 * 6 = 486
81 * 7 = 567
81 * 8 = 648
81 * 9 = 729
81 * 10 = 810

new table
82 * 1 = 82
82 * 2 = 164
82 * 3 = 246
82 * 4 = 328
82 * 5 = 410
82 * 6 = 492
82 * 7 = 574
82 * 8 = 656
82 * 9 = 738
82 * 10 = 820

new table
83 * 1 = 83
83 * 2 = 166
83 * 3 = 249
83 * 4 = 332
83 * 5 = 415
83 * 6 = 498
83 * 7 = 581
83 * 8 = 664
83 * 9 = 747
83 * 10 = 830

new table
84 * 1 = 84
84 * 2 = 168
84 * 3 = 252
84 * 4 = 336
84 * 5 = 420
84 * 6 = 504
84 * 7 = 588
84 * 8 = 672
84 * 9 = 756
84 * 10 = 840

new table
85 * 1 = 85
85 * 2 = 170
85 * 3 = 255
85 * 4 = 340
85 * 5 = 425
85 * 6 = 510
85 * 7 = 595
85 * 8 = 680
85 * 9 = 765
85 * 10 = 850

new table
86 * 1 = 86
86 * 2 = 172
86 * 3 = 258
86 * 4 = 344
86 * 5 = 430
86 * 6 = 516
86 * 7 = 602
86 * 8 = 688
86 * 9 = 774
86 * 10 = 860

new table
87 * 1 = 87
87 * 2 = 174
87 * 3 = 261
87 * 4 = 348
87 * 5 = 435
87 * 6 = 522
87 * 7 = 609
87 * 8 = 696
87 * 9 = 783
87 * 10 = 870

new table
88 * 1 = 88
88 * 2 = 176
88 * 3 = 264
88 * 4 = 352
88 * 5 = 440
88 * 6 = 528
88 * 7 = 616
88 * 8 = 704
88 * 9 = 792
88 * 10 = 880

new table
89 * 1 = 89
89 * 2 = 178
89 * 3 = 267
89 * 4 = 356
89 * 5 = 445
89 * 6 = 534
89 * 7 = 623
89 * 8 = 712
89 * 9 = 801
89 * 10 = 890

new table
90 * 1 = 90
90 * 2 = 180
90 * 3 = 270
90 * 4 = 360
90 * 5 = 450
90 * 6 = 540
90 * 7 = 630
90 * 8 = 720
90 * 9 = 810
90 * 10 = 900

new table
91 * 1 = 91
91 * 2 = 182
91 * 3 = 273
91 * 4 = 364
91 * 5 = 455
91 * 6 = 546
91 * 7 = 637
91 * 8 = 728
91 * 9 = 819
91 * 10 = 910

new table
92 * 1 = 92
92 * 2 = 184
92 * 3 = 276
92 * 4 = 368
92 * 5 = 460
92 * 6 = 552
92 * 7 = 644
92 * 8 = 736
92 * 9 = 828
92 * 10 = 920

new table
93 * 1 = 93
93 * 2 = 186
93 * 3 = 279
93 * 4 = 372
93 * 5 = 465
93 * 6 = 558
93 * 7 = 651
93 * 8 = 744
93 * 9 = 837
93 * 10 = 930

new table
94 * 1 = 94
94 * 2 = 188
94 * 3 = 282
94 * 4 = 376
94 * 5 = 470
94 * 6 = 564
94 * 7 = 658
94 * 8 = 752
94 * 9 = 846
94 * 10 = 940

new table
95 * 1 = 95
95 * 2 = 190
95 * 3 = 285
95 * 4 = 380
95 * 5 = 475
95 * 6 = 570
95 * 7 = 665
95 * 8 = 760
95 * 9 = 855
95 * 10 = 950

new table
96 * 1 = 96
96 * 2 = 192
96 * 3 = 288
96 * 4 = 384
96 * 5 = 480
96 * 6 = 576
96 * 7 = 672
96 * 8 = 768
96 * 9 = 864
96 * 10 = 960

new table
97 * 1 = 97
97 * 2 = 194
97 * 3 = 291
97 * 4 = 388
97 * 5 = 485
97 * 6 = 582
97 * 7 = 679
97 * 8 = 776
97 * 9 = 873
97 * 10 = 970

new table
98 * 1 = 98
98 * 2 = 196
98 * 3 = 294
98 * 4 = 392
98 * 5 = 490
98 * 6 = 588
98 * 7 = 686
98 * 8 = 784
98 * 9 = 882
98 * 10 = 980

new table
99 * 1 = 99
99 * 2 = 198
99 * 3 = 297
99 * 4 = 396
99 * 5 = 495
99 * 6 = 594
99 * 7 = 693
99 * 8 = 792
99 * 9 = 891
99 * 10 = 990

new table
100 * 1 = 100
100 * 2 = 200
100 * 3 = 300
100 * 4 = 400
100 * 5 = 500
100 * 6 = 600
100 * 7 = 700
100 * 8 = 800
100 * 9 = 900
100 * 10 = 1000

In [95]:
a=['Aryan']*100
print(a)

['Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan', 'Aryan']

In [96]:
a="Aryan"
print(a*100,"\n")

AryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryanAryan

In [98]:
name = "xyz" 
print((name + "\n") * 10)

xyz
xyz
xyz
xyz
xyz
xyz
xyz
xyz
xyz
xyz