# Sets

What is Sets?

- Sets are unordered.
- Set elements are unique. Duplicate elements are not allowed.
- A set itself may be modified, but the elements contained in the set must be of an immutable type.
- Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [1]:
myset = set(["a", "b", "c"])     # creating a set with set() function
print(myset)
print(type(myset))

{'a', 'b', 'c'}
<class 'set'>

In [6]:
a={}
print(type(a))

<class 'dict'>

In [2]:
s={1,1,1,1,2,2,3,4,5,3,4,6,3,7,4,7,3,1,1,2,3,5,7,6,5,8,0,8,9,7,8,0,8,7,6,4,3}
print(type(s))
print(s)

<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### Set Functions

- Adding elements :-
- Insertion in set is done through set.add() function.

In [9]:
myset.add("d")   # Adding element to the set with add()
print(myset)

{'a', 'b', 'd', 'c'}

In [10]:
myset.add('e')
print(myset)

{'d', 'a', 'e', 'c', 'b'}

In [11]:
print(myset)

{'d', 'a', 'e', 'c', 'b'}

In [12]:
# Creating a Set
fruits = {"apple", "mango", "grapes"}
 
print(fruits)

{'mango', 'grapes', 'apple'}

In [16]:
# This will add  in the set
fruits.add("orange")

print(fruits)

{'mango', 'grapes', 'orange', 'apple'}

In [17]:
# Adding elements to the set using iterator
for i in range(1, 6):
    fruits.add(i)

print(fruits)

{1, 2, 'grapes', 3, 4, 'apple', 5, 'orange', 'mango'}

- Union :-

Two sets can be merged using union() function or | operator.

In [18]:
fruits = {"apple", "mango", "grapes"}
vegetables={'potato','onion','carrot'}
dishes={'pizza','burger'}

In [19]:
# Union using union() function
all_items=fruits.union(vegetables)
print(all_items)

{'carrot', 'grapes', 'onion', 'potato', 'apple', 'mango'}

In [20]:
# Union using "|" operator
all_items=fruits|dishes
print(all_items)

{'pizza', 'grapes', 'apple', 'burger', 'mango'}

In [21]:
a={}
type(a)

dict

In [24]:
# creation of empty set
SET1=set()
SET2=set()
print('set1',SET1)
print('set2',SET2)

set1 set()
set2 set()

In [25]:
print(type(SET1))

<class 'set'>

In [26]:
print(SET1)

set()

In [27]:
for i in range(5):
    SET1.add(i)
print(SET1)

{0, 1, 2, 3, 4}

In [28]:
for i in range(3,7):
    SET2.add(i)
print(SET2)

{3, 4, 5, 6}

In [29]:
print(SET1)
print(SET2)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}

- Intersection :-

This can be done through intersection() or & operator. Common Elements are selected.

In [24]:
# Intersection using intersection() function
SET3 = SET1.intersection(SET2)
print(SET3)

{3, 4}

In [24]:
# Intersection using "&" operator
SET3 = SET1 & SET2
print(SET3)

{3, 4}

- Difference :-

To find difference in between sets. Similar to find difference in linked list. This is done through difference() or â€“ operator.

In [39]:
print(SET1)
print(SET2)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}

In [30]:
# Difference of two sets using difference() function
SET3 = SET1.difference(SET2)
# it returns elements that are in set 1 but not in set 2
print(SET3)

{0, 1, 2}

In [31]:
# Difference of two sets using '-' operator
SET3 = SET2 - SET1
print(SET3)

{5, 6}

- Clearing sets :-

Clear() method empties the whole set.

In [32]:
set1 = {1,2,3,4,5,6}
SeT=set1
print(set1)
 
# This method will remove all the elements of the set
set1.clear()
 
print(set1)

{1, 2, 3, 4, 5, 6}
set()

In [31]:
print(SeT)

set()

In [34]:
# pop it removes the item in set randomly
A = {'a', 'b', 'c', 'd'}
removed_item = A.pop()
print(removed_item)
print(A)

a
{'b', 'd', 'c'}

In [3]:
# subset
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

# all items of A are present in B
print(A.issubset(B))

True

In [36]:
A={1,2,3,4,5}
B={6,7,8,9,10,11}
print(A.isdisjoint(B))

True