In [1]:
# String Notation
a='Hiii i am Deepanshu'
print(a)

Hiii i am Deepanshu

In [53]:
b=" hiiii am Deepanshu"
print(b)

 hiii i am Deepanshu

In [1]:
# multi line strings
d='''hiii
my
name
is
deepanshu
verma


'''
print(d)

hiii
my
name
is
deepanshu
verma

In [2]:

a=10
print(a)
'''
hdhopqw
dihpc[j
     c,w
     dsugdpqwx
     qwx]
'''

10

'\nhdhopqw\ndihpc[j\n     c,w\n     dsugdpqwx\n     qwx]\n'

In [3]:
c=""" hiiii 
             my
                 name  
                      is 
                         Deepanshu
                                   verma
"""
print(c)

 hiiii
             my
                 name
                      is
                         Deepanshu
                                   verma

### String formatting

In [2]:
name='Deepanshu'
sur_name='monga'
print(name,'+',sur_name) # concatenation

Deepanshu + monga

In [6]:
name='Deepanshu'
full_name=name+ ' '+'verma'
print(full_name) # concatenation

Deepanshu verma

In [13]:
a=' deepanshu '
b='verma'
c=b+a
print(c)
print(c*5)

verma deepanshu
verma deepanshu verma deepanshu verma deepanshu verma deepanshu verma deepanshu

In [10]:
x='hiii'
a='deepanshu'
c='verma'
print(x-c)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [72]:
d='a'
print(d*2)

aa

In [15]:
a='hiii'
print('hello'+' '+a)

hello hiii

In [18]:
## f specifier
greeting='good morning'
greeting1='good evening'
# print('hello',greeting)
print('hello', greeting1, greeting)
print(f'hello {greeting1} {greeting}')

hello good evening good morning
hello good evening good morning

In [21]:
# format specifier
name='Deepanshu'

final_greeting = 'How are you, {}?'

print(final_greeting.format(name))
# print(final_greeting)

How are you, Deepanshu?

In [20]:
name='Deepanshu'
surname='verma'

print(' my first name is {} and sur name is {} '.format(name,surname))
print(' my first name is {} and sur name is {} '.format(surname,name))

 my first name is Deepanshu and sur name is verma
 my first name is verma and sur name is Deepanshu

####  calculate your age in months use the f string to print ?

In [191]:
age = int(input('Enter your age: ')) # Enter 3
print(f'You have lived for {age * 12} months.') # Prints You have lived for 36 months.

Enter your age: 24
You have lived for 288 months.

In [39]:
age = int(input('Enter your age: ')) # Enter 3
months = age * 12
print(f'You have lived for {months} months.') # Prints You have lived for 36 months.

Enter your age: 24
You have lived for 288 months.

### A small exercise: calculate number of seconds lived instead of months! ?

In [5]:
age=int(input('enter age'))
print(f'my age is {age*365*24*60*60} in seconds')

enter age19
my age is 599184000 in seconds

In [7]:
name='deepanshu123466789'

surname='VERMA'
                                 
# print(len(name)) # to check the length of string
# print(len(surname))
# print(name[0])
# print(name[0:10])
# print(name[-2])
# print(name[-5:])
# print(name[:10])
print(name[:])

deepanshu123466789

In [32]:
# checking immutability
a='deepanshu'

a[0]='D'
print(a)

TypeError: 'str' object does not support item assignment

In [34]:
name='deepanshu123466789'

In [35]:
print(name[6]) # indexing

s

In [25]:
print(name[8])
print(name[13])

u
6

In [26]:
print(name[3:6]) # slicing last index excluded

pan

In [36]:
print(name[100000000000])

IndexError: string index out of range

In [37]:
print(name[6:1000000000000000000000000000000000000]) #slicing

shu123466789

In [201]:
print(name[-1:])

9

In [202]:
print(name[:-3])

deepanshu123466

In [203]:
print(name[::-1])

987664321uhsnapeed

In [11]:
print(name[-5:-2]) # slicing

667

In [12]:
print(name[::-1]) # reverse of stirng

987664321uhsnapeed

In [205]:
print(name.upper())

DEEPANSHU123466789

In [204]:
print(surname.lower())

verma

In [206]:
print(name.count('e'))

2

In [208]:
print(name.find('u'))

8

In [209]:
print(name.replace('d','D'))

Deepanshu123466789

In [210]:
print(name.isalpha())

False

In [171]:
a='1234'
print(a.isdigit())

True

In [74]:
b='deepanshu123'
print(b.isalnum()) #t
print(b.isupper()) #f
print(b.islower()) #t
print(b.replace('p','a'))
print(b.replace(b[0:3],'n'))

True
False
True
deeaanshu123
npanshu123

### String functions

In [59]:
mystr='a quick brown fox jumps over the lazy dog'
# print(len(mystr))
# print(mystr[5])
# print(mystr[7])
# print(mystr[0:4])
# print(mystr[:21])
# print(mystr[0:41])
# print(mystr[0:])
# print(mystr[100])
# print(mystr[30])
# print(mystr[0:100])
# print(mystr[100:0])
# print(mystr[0:42:2])
# print(mystr[0:42:10])
# print(mystr[0:42:100])
# print(mystr[::])
# print(mystr[0:41:1])
# print(mystr[::1])
# print(mystr[::2])
# print(mystr[::50])
# print(mystr[19:5])
# print(mystr[19:-5])
# # print(mystr[-3])
# print(mystr[-3:])
# print(mystr[0:-3])
# print(mystr[-3:-2])
# print(mystr[-27:-24])
# print(mystr[-3:-11])
# print(mystr[14:17])
print(mystr[::-1])
print(mystr[::-5])
print('------------------------------------------')
print(mystr[4:21])
mystr[14:28]

god yzal eht revo spmuj xof nworb kciuq a
gzhvmooca
------------------------------------------
ick brown fox jum
revo spmuj xof

In [325]:
mystr='a quick brown fox jumps over a lazy dog'

In [322]:
# count
print(mystr.count('o')) # to count the particular character in a string

4

In [326]:
#capitalize
print(mystr.capitalize())

A quick brown fox jumps over a lazy dog

In [85]:
#find
# print(mystr.find('o'))
# print(mystr.find('do'))
# print(mystr.find('#$%^&*((*&^%$))'))
print(mystr.find('br'))
print(mystr.find('br'))

8
8

In [56]:
print(mystr.index('o'))
print(mystr.find('o'))

10
10

In [92]:
mystr='a quick brown fox jumps over a lazy dog'
mystr1='aquickbrownfoxjumpsoverthelazydog'
mystr2='12345678967'
mystr3='deepanshu2022'
mystr4=' '
print(mystr.isalpha())
print(mystr1.isalpha())
print(mystr2.isdigit())
print(mystr3.isalnum())
print(mystr4.isspace())
print(mystr.isspace())

False
True
True
True
True
False

In [20]:
mystr='a quick brown fox jumps over a lazy dog'

In [95]:
print(mystr.upper())
abc=mystr.upper()
print(abc)
print(abc.lower())
print(abc.upper())
print(abc.islower())
# print(abc.isupper())

A QUICK BROWN FOX JUMPS OVER A LAZY DOG
A QUICK BROWN FOX JUMPS OVER A LAZY DOG
a quick brown fox jumps over a lazy dog
A QUICK BROWN FOX JUMPS OVER A LAZY DOG
False

In [10]:
name='Deepanshu Verma'
name1='deepanshu'
string=' '
# print(name.iscapitalize())
print(name.istitle()) # checks the first word  is capita or not
print(name1.istitle())
print(string.isspace())

True
False
True

In [23]:
print(mystr)

a quick brown fox jumps over a lazy dog

In [99]:
# print(mystr.replace('quick','jaldi'))
print(mystr.replace('quick',' '))

a  brown fox jumps over a lazy dog

In [26]:
xyz='UPPER'
abc='lower'
print(xyz.swapcase())
print(abc.swapcase())

upper
LOWER

In [103]:
mystr3='a quick brown fox jumps over the lazy dog'
mystr2='a,quick,brown,fox,jumps,over,the,lazy,dog'
mystr1='aquickbrownfoxjumpsoverthelazydog'

print(mystr.split())
print(mystr3.split(' '))
print(mystr2.split(','))
print(mystr1.split())

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']
['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['aquickbrownfoxjumpsoverthelazydog']

In [34]:
print(mystr)

a quick brown fox jumps over a lazy dog

In [109]:
# strip function prints the string after removing the from beginning and end
# a quick brown fox jumps over a lazy dog
print(mystr.strip("dog"))
print(mystr.strip('a'))
print(mystr.strip('fox'))
print(mystr.endswith('dog'))
print(mystr.startswith('a'))

a quick brown fox jumps over a lazy
 quick brown fox jumps over a lazy dog
a quick brown fox jumps over a lazy dog
True
True

In [12]:
email='abcc@123.com'
c=0
for i in email:
    if i.isalpha() or i.isdigit():
        pass
    else:
        c+=1
print(c)

2