# Tuples
- What is a Tuple? 

A Tuple is a collection of Python objects like integer, floating number, strings which are separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists that are mutable.

In [15]:
t=('deepanshu')
print(type(t))

<class 'str'>

In [2]:
t=('deepanshu',)
print(type(t))

<class 'tuple'>

In [17]:
t='deepanshu''verma'
print(type(t))

<class 'str'>

In [18]:
t='deep,ans,hu'
print(type(t))

<class 'str'>

In [3]:
t='deep','ans','hu',
print(type(t))

<class 'tuple'>

In [19]:
t=(1,2,3,4,5)
print(type(t))

<class 'tuple'>

In [20]:
t=1,2,3,4,5
print(type(t))

<class 'tuple'>

In [7]:
tup=('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')
# print(type(tup),tup)
# print(len(tup))
# print(tup[5])
# print(tup[7])
# print(tup[0:4])
# print(tup[:21])
# print(tup[0:41])
# print(tup[0:])
# print(tup[100])
# print(tup[0:100])
# print(tup[100:0])
# print(tup[0:42:2])
# print(tup[0:42:10])
# print(tup[0:42:100])
# print(tup[::])
# print(tup[0:41:1])
# print(tup[::1])
# print(tup[::2])
# print(tup[::50])
# print(tup[19:25])
# print(tup[19:])
# print(tup[1:200])
# print(tup[19:-5])
# print(tup[-3])
# print(tup[-3:])
# print(tup[0:-3])
# print(tup[0:-3:2])
# print(tup[-3:-2])
# print(tup[-27:-24])
# print(tup[-3:-11])
# print(tup[14:17])
# print(tup[::-1])
# print(tup[::-5])

In [21]:
tup=('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')
# print(tup[19:25])
# print(tup[19:])
# print(tup[1:200])
# print(tup[19:-5])
# print(tup[:-5])
# print(tup[-3])
# print(tup[-3:])
# print(tup[0:-3])
# print(tup[0:-3:2])
# print(tup[-3:-2])
# print(tup[-27:-24])
# print(tup[-3:-11])
# print(tup[-3:-3])
# print(tup[14:17])
# print(tup[::-1])
# print(tup[::5])
# print(tup[::-5])

('a', 'over')
('dog', 'fox')

### tuple functions

In [22]:
# Packing and unpacking of tuples
tup=('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog') # packing of tuple
a,b,c,d,e,f,g,h,i=tup # unpacking  tuple

In [23]:
# a,b,c,d,e,f,g,h,i='a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'

In [23]:
print(a)
print(type(b),b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

a
<class 'str'> quick
brown
fox
jumps
over
the
lazy
dog

In [25]:
# modifying tuples

In [26]:
b='jaldi'
i='cat'

In [27]:
t=(a,b,c,d,e,f,g,h,i) # packing the tuple
print(t)

('a', 'jaldi', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'cat')

In [47]:
# CHECKING MUTABILITY
t[1]='quick'
print(t)

TypeError: 'tuple' object does not support item assignment

In [27]:
mystr='a quick brown fox jumps over the lazy dog'
print(type(mystr))
TUP=tuple(mystr)
print(TUP)
print(type(TUP))

<class 'str'>
('a', ' ', 'q', 'u', 'i', 'c', 'k', ' ', 'b', 'r', 'o', 'w', 'n', ' ', 'f', 'o', 'x', ' ', 'j', 'u', 'm', 'p', 's', ' ', 'o', 'v', 'e', 'r', ' ', 't', 'h', 'e', ' ', 'l', 'a', 'z', 'y', ' ', 'd', 'o', 'g')
<class 'tuple'>

In [29]:
# conactenation
tup1=('deepanshu','verma')
tup2=('verma','deepanshu')
print(tup1+tup2)
print(tup2+tup1)

('deepanshu', 'verma', 'verma', 'deepanshu')
('verma', 'deepanshu', 'deepanshu', 'verma')

In [30]:
# Repetition of tuple
tup1=('deepanshu','verma')
tup2=('verma','deepanshu')
print(tup1*2)
print(tup2*10)
print(len(tup2*10))

('deepanshu', 'verma', 'deepanshu', 'verma')
('verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu')
20

In [31]:
t=(1,2,3,4,5)
print(t*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [32]:
print(tup)

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')

In [47]:
print(tup.index('lazy'))

7

In [49]:
print(TUP.count('o'))

4

In [28]:
# delete
del tup

In [31]:
print(tup)

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')

In [116]:
X=sorted(tup) # arrange in ascending order and return in a list
print(X)
print(type(X))

['a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']
<class 'list'>

In [52]:
print(ord('A'))

65

In [53]:
print(ord('a'))

97

In [118]:
X=sorted(X,reverse=True) # arrange in descending order and return in a list
print(X)

['the', 'quick', 'over', 'lazy', 'jumps', 'fox', 'dog', 'brown', 'a']

In [49]:
t=(10,9,8,7,6,5,4,3,2,1)
t=sorted(t)
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
t=sorted(t,reverse=True) # descending order
print(t)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [70]:
print(ord('a'))
print(ord('A'))

97
65

In [50]:
tp=('A','a')
tp=sorted(tp,reverse=True)
print(tp)

['a', 'A']

In [52]:

T=min(tup)
print(T)

a

In [45]:
t=(9,8,7,6,5,4,3,2,1)
# print(t)
x=min(t)
print(x)

1

In [56]:
t=(10,9,8,7,6,5,4,3,2,1)

y=max(t)
print(y)

10

In [46]:
print(tup)

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')

In [57]:
print(sum(t))

55

In [119]:
name=1,2
print(type(name))

<class 'tuple'>

In [82]:
# advance indexing and slicing

In [121]:
print(len(x))

7

In [47]:
x=((10,20,30),(40,50,60),(70,80,90),(11,22,33),(44,55,66),(77,88,99),(12,13,14)) # nested tuple
# print(x)
print(len(x))

7

In [154]:
name='deepansu'
print('d' in name)

True

In [51]:
x='deepanhsu',

print('a' in x)

False

In [156]:
mystr='aquickbrownfoxjumpsoverthelazydog'
st=''
seq=''
for i in mystr:
    if i not in st:
        st=st+i
print(len(st),st)
l=sorted(st)
for j in l:
    seq=seq+j
print(seq)

26 aquickbrownfxjmpsvethlzydg
abcdefghijklmnopqrstuvwxyz

In [69]:
x=((10,20,30),(40,50,60),(70,80,90),(11,22,33),(44,55,66),(77,88,99),(12,13,14)) 
# print(x[1])
# print(x[0:])
# print(x[:5])
# print(x[1:5])
# print(x[-4:])
# print(x[:-4])
# print(x[-4])
# print(x[0:7:2])
# print(x[3:][1])
# print(x[-5:-3])
# print(x[2:3])
# print(x[2:3][0])
# print(x[2:3][0][0])
# print(x[2:3][0][0][1])
# print(x[2:][2][2])
# print(x[2:][2][3])
# print(x[2:][2][100:1])
# print(x[-4:])
# print(x[-4:][1])
# print(x[-4:][-1])
# print(x[-4:][1][0])
# print(x[-4:][3])
# # print(x[-4:][3][2])
# # print('-------------------------------------------------------------------')
# # print(x[0:][2][1])
# # print(x[2:3][0][1])
# # print(x[-1:][0])
# # print(x[-1:][0][0])
# # print(x[-2:][1][0])
# # print(x[0:][0][2])

((11, 22, 33), (44, 55, 66), (77, 88, 99), (12, 13, 14))
(44, 55, 66)

In [8]:
x=((10,20,30),(40,50,60),(70,80,90),(11,22,33),(44,55,66),(77,88,99),(12,13,14))
# print(x[-4:][1][0])
# print(x[-4:][3])
# print(x[-4:][3][2])
# print(x[0:][2][1])
# print(x[2:3][0][1])
# print(x[-1:][0])
# print(x[-1:][0][0])
# print(x[-2:][1][0])
# print(x[0:][0][2])
# print(x[2][3])
# print(x[2:-4])
# print(x[0:2][2][3])
# print(x[2:][:2])
# print(x[2:][:2][0][-1],x[-1])